<!DOCTYPE html>
<html lang="pl" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>{{the_title}}</title>
  <link rel="icon" type="image/png" href="/static/ico/clock.ico">
   	<link rel="stylesheet" href="/static/css/main.css" />
    <link rel="stylesheet" href="/static/css/dashboard.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=VT323&amp;subset=latin-ext" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


</head>
<body>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Akademia Malucha</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
    <ul class="nav navbar-nav">
         {% if grupa == 'nauczyciel' %}
        <li><a href="{{ url_for('index') }}">Strona główna</a></li>
        <li><a  href="{{ url_for('add_post') }}">Dodaj ogłoszenie</a></li>
        {% endif %}
        {% if grupa == 'rodzic' %}
        <li><a  href="{{ url_for('index') }}">Strona główna</a></li>
        <li><a  href="{{ url_for('profil') }}">Profil</a></li>
            {% endif %}
        {% if grupa == 'admin' %}
        <li><a  href=" {{ url_for('index') }}">Strona główna</a></li>
        <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="{{ url_for('admin') }}">Administrator <span class="caret"></span></a>
            <ul class="dropdown-menu">
                <li><a  href="{{ url_for('register') }}">Dodaj użytkownika</a></li>
                <li><a  href="{{ url_for('profil') }}">Profile</a></li>
                <li><a  href="{{ url_for('child') }}">Dodaj przedszkolaka</a></li>
                <li><a  href="{{ url_for('add_post') }}">Dodaj ogłoszenie</a></li>
                <li><a  href="{{ url_for('upload_file') }}">Dodaj plik</a></li>
            </ul>
        </li>
            {% endif %}
        {% if session['username'] %}
        <li> <a  href="{{ url_for('logout') }}">Wyloguj  <span class="glyphicon glyphicon-log-out"></span></a></li>
        {% else %}
        <li><a  href="{{ url_for('index') }}">Strona główna</a></li>
        <li><a  href="{{ url_for('login') }}">Zaloguj się  <span class="glyphicon glyphicon-log-in"></span></a></li>
        {% endif %}
    </ul>
    </div>
  </div>
</nav>

<header>
     {% block header%}

      {% endblock %}
</header>
    <div class="main-content">
        {% with messages = get_flashed_messages() %}
        {%if messages%}
            {% for message in messages %}
                <div class="alert alert-success alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><i class="glyphicon glyphicon-remove-circle"></i></button>
                    <h3>{{ message }}</h3>
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}
    </div>
{%block body%}

{% endblock %}

<!-- LIBRARY -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js">
</script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js">
</script>
<script src="http://code.jquery.com/jquery-3.2.1.min.js">
</script>
  <script src=" https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
  <script src="/static/bootstrap/bootstrap.min.js"></script>
</body>
</html>
