<!DOCTYPE html>
<html lang="pl" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>{{the_title}}</title>
  <link rel="icon" type="image/png" href="/static/ico/clock.ico">
   	<link rel="stylesheet" href="/static/css/main.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=VT323&amp;subset=latin-ext" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>

<header>
<div class="container">
    <h1 class="logo">BAZA PRZEDSZKOLAKA</h1>
        <strong><nav>
            <ul class="menu">
                {% if session %}
                <li><a href="#">Witaj: {{the_chuj}}</a></li>
                {% endif %}
                <li><a href="{{ url_for('index') }}">Home</a></li>
                {% if session %}
                <li><a href="{{ url_for('register') }}">Add_user</a></li>
	            <li><a href="{{ url_for('profil') }}">Profil</a></li>
                <li><a href="{{ url_for('child') }}">Child</a></li>
                <li><a href="{{ url_for('logout') }}">Wyloguj</a></li>
                {% else %}
                <li><a href="{{ url_for('login') }}">Login</a></li>
                {% endif %}
            </ul>

        </nav></strong>
    <div>
        {% if session %}
        {{the_chuj}}
        {% endif %}
    </div>
</div>

</header>

<div class="container-fluid">

    <div class="intro">
        <h1>Witaj w bazie przedszkolaka!</h1>
        {% with messages = get_flashed_messages() %}
        {%if messages%}
            {% for message in messages %}
                <div class="alert alert-success alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">Close</button>
                    <h2>{{ message }}</h2>
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}
    </div>
    {%block body%}

    {% endblock %}

</div>
<div class="footer">
  <p>Copyright by Grzegorz Wolyniec     design by Tweety86</p>
</div>
<!-- LIBRARY -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js">
</script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js">
</script>
<script src="http://code.jquery.com/jquery-3.2.1.min.js">
</script>
</body>
</html>
