{% extends 'base.html' %}
{% block body %}


    <div class="form">
        <h3>Dodaj przedszkolaka:</h3>
        <form class="login-form">
            <input type="number" value="id" placeholder="PESEL dziecka"/>
            <input type="text" placeholder="Imię dziecka"/>
            <input type="text" placeholder="Nazwisko dziecka"/>
            <input type="number" value="date" placeholder="Data urodzenia"/>
            <input type="text" placeholder="Grupa"/>
            <button>DODAJ</button>
        </form>
    </div>



{% endblock %}
