{% extends 'base.html' %}
{% block body %}


    <div class="form">
        <h3>Dodaj użytkownika:</h3>
        <form class="login-form" action="" method="post">

            <input type="text" placeholder="Enter username" name="username" value="{{request.form.username}}"/>
            <input type="password" placeholder="Enter password" name="password" value="{{ request.form.password }}"/>
            <input type="Text" placeholder="Enter e-mail" name="email" value="{{request.form.email}}"/>
            <input type="text" placeholder="admin, Nauczyciel, Rodzic" name="grupa" value="{{request.form.grupa}}"/>

            <button type="submit" value="dodaj">DODAJ</button>
        </form>
    </div>



{% endblock %}
